.cursor{ cursor: pointer; }
.logout-icon{ display: block; }
.logout-icon > i, .fa-navicon{ line-height: 45px; }
.fa-navicon { margin-left: 10px; }
.mt-10{ margin-top: 10px; }

header{ background-color: #f0f0f0; margin-bottom: 10px; box-shadow: 0 0 1px 0 rgba(0,0,0,0.3); }

/*
    TOP NAVIGATION
*/
.top-navigation{ list-style: none; height: 45px; padding: 0; margin: 0; }
.top-navigation li{ display: inline-block; line-height: 45px; margin: 0; margin-left: -4px; }
.top-navigation li:first-child{ margin-left: 0; }
.top-navigation li a{ display: block; font-weight: bold; padding: 0 10px; }
.top-navigation li a:hover{ text-decoration: none; background-color: #bdbbbb; color: #fff; }
.top-navigation li a.top-nav-active{ background-color: #337ab7; color: #fff; }


.home-stat-box{ text-align: center; border: 1px solid #ccc; background-color:#eee; margin-bottom: 5px; padding: 15px 0; }
.home-stat-box h3{ font-size: 22px; font-weight: bold; color: #333; margin: 0; }
.home-stat-box p { font-size: 13px; font-weight: normal; color: #777; margin:0; }
